nav{
    background: linear-gradient(to right ,yellow,red);
}
h1{
    color: blue;
    padding: 20px;
    margin: 10px;
    font-size: 40px;
    text-align: center;
}
p{
    color: blue;
    padding: 20px;
    margin: 10px;
    font-size: 40px; 
}